apiVersion: v1
kind: Service
metadata:
  name: {{ include "kube-mind-observer.fullname" . }}
  labels:
    {{- include "kube-mind-observer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "kube-mind-observer.selectorLabels" . | nindent 4 }}
